.counter-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.4rem;
}

.label {
  background-color: var(--item);
  color: #fff;
  padding: 8px 14px;
  border-radius: 5px;
}

.counter {
  margin-left: 6px;
}
