.letter-chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.selectPicker {
  margin-left: 8px;
}

/* ---------------------------------------- */

.stats-container {
  display: flex;
}

@media (max-width: 768px) {
  .stats-container {
    display: flex;
    flex-direction: column;
  }
}

.letter-stats {
  border: 1px solid #bdbdbd;
  margin-top: 1.4rem;

  width: 25%;
  max-height: 400px;

  padding: 10px;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .letter-stats {
    width: 100%;
  }
}

.letter-stats h3 {
  margin-bottom: 1rem;
}

.letter-stats-wrapper {
  border-bottom: 1px solid #bdbdbd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.letter-stats-count {
  border-radius: 5px;
  padding: 6px 10px;
  background-color: var(--skyblue);
  color: #fff;
}

.letter-stats-count .percent {
  margin-left: 10px;
}
