.text-analyzer {
  margin: 2rem auto;
  padding: 0 3rem;
}

@media (max-width: 1400px) {
  .text-analyzer {
    margin: 0 auto;
    padding: 1rem 0;
  }
}

@media (max-width: 768px) {
  .text-analyzer {
    margin: 0px auto;
  }
}

.text-analyzer h1 {
  color: #fff;
  margin-bottom: 2rem;

  text-align: center;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .text-analyzer h1 {
    margin-bottom: 1rem;
  }
}

.content-container {
  background-color: var(--background);
  padding: 1.5rem;

  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  border-radius: 15px;
}

.content-left {
  width: 60%;
}

.content-right {
  width: 39%;
}

@media (max-width: 768px) {
  .content-container {
    border: none;
    padding: 1rem;
    flex-direction: column;
  }

  .content-left {
    width: 100%;
  }

  .content-right {
    width: 100%;
  }
}

/* ---------------------------------------- */
/* TextField Component styling */
/* ---------------------------------------- */

.text-field-container {
  border: 2px solid var(--border);
  background-color: var(--item-background);
  border-radius: 15px;
  padding: 5px 0px 5px 5px;
  margin-bottom: 1.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.text-field {
  background-color: var(--item-background);
  background-color: transparent;

  border: none;
  outline: none;
  display: block;

  min-width: 100%;
  max-width: 100%;
  min-height: 40rem;

  padding: 0.3rem;

  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7rem;
}

@media (max-width: 768px) {
  .text-field {
    min-height: 30rem;
  }
}

.text-field:focus.text-field-container {
  outline: 1px solid var(--item);
}

.text-field::-webkit-scrollbar {
  width: 1.2rem;
  background-color: var(--scroll-background);
  border-radius: 8px;
}

.text-field::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar);
  border-radius: 8px;
}

.text-field::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-bar-hover);
}

/* ---------------------------------------- */
/* CounterGroup Component styling */
/* ---------------------------------------- */

.counter-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.label {
  background-color: var(--item);
  color: var(--font-sub);
  padding: 8px 14px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.counter {
  margin-left: 6px;
}

/* ---------------------------------------- */
/* Info Component styling */
/* ---------------------------------------- */
.message-container {
  background-color: var(--background);
  color: var(--font-sub);

  max-width: 690px;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  font-size: 1.2rem;
  line-height: 2rem;
  border-radius: 15px;
}

.message-container h2 {
  margin-bottom: 2rem;
}

.message-container p {
  min-height: 100px;
}

.info {
  background-color: var(--background);
  color: var(--font-sub);

  max-width: 690px;
  padding: 2rem;

  font-size: 1.2rem;
  line-height: 2rem;
  border-radius: 15px;
}

.info p {
  margin-bottom: 2rem;
}

.info-message {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 767px) {
  .message-container p {
    margin-top: 0rem;
    margin-bottom: 0rem;
    min-height: 0rem;
  }

  .info {
    display: none;
  }
}

/* ---------------------------------------- */
/* back-to-top Component styling */
/* ---------------------------------------- */

@media screen and (max-width: 767px) {
  .back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}
